/src/.phpunit.cache
/src/bootstrap/ssr
/src/node_modules
/src/public/build
/src/public/hot
/src/public/storage
/src/storage/*.key
/src/storage/pail
/src/storage/framework/views
/src/vendor
/src/.env
/src/.env.backup
/src/.env.production
/src/.phpactor.json
/src/.phpunit.result.cache
/src/Homestead.json
/src/Homestead.yaml
/src/npm-debug.log
/src/yarn-error.log
/src//auth.json
/.fleet
/.idea
/.nova
/.vscode
/.zed
